<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="titulo">Crud Básico SQL - .Net - Angular - Bootstrap</h3>
                    <h2 class="titulo">Afiliado Intexus</h2>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body text-center">
                        <h4>{{accion}} Afiliado</h4>
                        <form class="mt-4" [formGroup]="form" (ngSubmit)="guardarAfiliado()">
                            <div class="card-header fw-bolder text-start">
                                Ingrese sus nombres
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="far fa-user-circle" [class.green-icon]="this.form.get('nombre')?.valid" [class.red-icon]="this.form.get('nombre')?.invalid && this.form.get('nombre')?.touched"></i>
                                </span>
                                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombres">
                            </div>
                            <div class="card-header fw-bolder text-start">
                                Ingrese sus Apellidos
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="far fa-user-circle" [class.green-icon]="this.form.get('apellido')?.valid" [class.red-icon]="this.form.get('apellido')?.invalid && this.form.get('apellido')?.touched"></i>
                                </span>
                                <input formControlName="apellido" type="text" class="form-control" placeholder="Apellidos">
                            </div>
                            <div class="card-header fw-bolder text-start">
                                Ingrese su fecha de nacimiento
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-plus" [class.green-icon]="this.form.get('edad')?.valid" [class.red-icon]="this.form.get('edad')?.invalid && this.form.get('edad')?.touched"></i>
                                </span>
                                <input formControlName="fechaNacimiento" type="date" class="form-control" placeholder="fecha de nacimiento">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card-header fw-bolder">
                                        Ingrese el recaudo
                                    </div>                            
                                    <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="far fa-money-bill-alt" [class.green-icon]="this.form.get('cedula')?.valid" [class.red-icon]="this.form.get('cedula')?.invalid && this.form.get('cedula')?.touched"></i>
                                    </span>
                                    <input formControlName="recaudo" type="text" class="form-control" placeholder="Recaudo">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-header fw-bolder">
                                        Ingrese su Genero
                                    </div>                            
                                    <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fas fa-venus-mars" [class.green-icon]="this.form.get('ciudad')?.valid" [class.red-icon]="this.form.get('ciudad')?.invalid && this.form.get('ciudad')?.touched"></i>
                                    </span>
                                    <select formControlName="sexo" class="form-select" aria-label="Default select example">
                                        <option value="F">Femenino</option>
                                        <option value="M">Masculino</option>
                                        <option value="I">Indefinido</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                                <div class="d-grid gap-2">
                                    <button [disabled]="this.form.invalid" class="btn btn-success" type="submit"><i class="fas fa-database"></i>&nbsp;{{accion}}</button>
                                </div>
                            

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body text-center">
                        <h4>Lista empleado</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <td>ID</td>
                                        <td>Nombre</td>
                                        <td>Apellido</td>
                                        <td>Genero</td>
                                        <td>Fecha Nacimiento</td>
                                        <td>Recaudo</td>
                                        <td>Editar</td>
                                        <td>Eliminar</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let afiliado of listAfiliados; let i = index">
                                        <td>{{afiliado.id}}</td>
                                        <td>{{afiliado.nombre}}</td>
                                        <td>{{afiliado.apellido}}</td>
                                        <td>{{afiliado.sexo}}</td>                                    
                                        <td>{{afiliado.fechaNacimiento}}</td>
                                        <td>{{afiliado.recaudo}}</td>
                                        <td> <i (click)="editarAfiliado(afiliado)" class="far fa-edit text-info"></i> </td>
                                        <td> <i (click)="eliminarAfiliado(afiliado.id)" class="far fa-trash-alt text-danger"></i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>
